                                                    body {
                                                        background-image: url(bg.jpg);
                                                    }
                                                    
                                                    .container {
                                                        width: 70%;
                                                        text-align: center;
                                                        vertical-align: center;
                                                        
                                                    }
                                                    
                                                    img {
                                                        width: 100%;
                                                    }
                                                    
                                                    h2 {
                                                        margin: 0;
                                                    }
                                                    
                                                    .navbar:before {
                                                        display: none;
                                                    }
                                                    
                                                    .navbar:after {
                                                        display: none;
                                                    }
                                                    
                                                    .navbar {
                                                        text-align: center;
                                                        display: grid;
                                                        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
                                                        margin-bottom: 0px;
                                                        padding: 0;
                                                    }
                                                    
                                                    .nav-item {
                                                        min-width: 140px;
                                                        padding-top: 45%;
                                                        padding-bottom: 45%;
                                                    }
                                                    
                                                    .nav-item:nth-child(1) {
                                                        grid-column: 1/3;
                                                        Line-height: 1;
                                                        padding: 10px;
                                                    }
                                                    
                                                    .carousel-inner {
                                                        width: 100%;
                                                        margin: 0;
                                                        padding: 0;
                                                    }
                                                    
                                                    .carousel-control.left.bottom {
                                                        height: 10%;
                                                        top: unset;
                                                        left: unset;
                                                        right: 10%
                                                    }
                                                    
                                                    .carousel-control.right.bottom {
                                                        height: 10%;
                                                        top: unset;
                                                    }
                                                    
                                                    .content_line {
                                                        display: grid;
                                                        grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
                                                    }
                                                    
                                                    .visual_wrapper {
                                                        display: grid;
                                                    }
                                                    
                                                    .visual_wrapper img {
                                                        margin: 0;
                                                        padding-bottom: 0;
                                                    }
                                                    
                                                    .info {
                                                        display: grid;
                                                        grid-template-columns: repeat(auto-fit, minmax(160.1px, 1fr));
                                                    }
                                                    
                                                    .info_text {
                                                        padding: 10px;
                                                        text-align: center;
                                                        display: flex;
                                                    }
                                                    
                                                    .center_text {
                                                        margin: auto;
                                                    }
                                                    
                                                    .btn-secondary {
                                                        margin-top: 5%;
                                                        padding: 15px;
                                                    }
                                                    
                                                    .btn-group-vertical {
                                                        display: grid;
                                                    }
                                                    
                                                    .btn-group-vertical button {
                                                        width: 100%;
                                                    }
                                                    
                                                    footer {
                                                        width: 100%;
                                                        min-width: 320px;
                                                        text-align: right;
                                                        padding-left: 3%;
                                                    }
                                                    
                                                    footer div {
                                                        float: left;
                                                        margin: 5px;
                                                        padding-top: 2%;
                                                    }
                                                    
                                                    footer img {
                                                        width: 7%;
                                                        padding: 0;
                                                        margin: 0;
                                                    }
